/* pages/jsCase/pageDestory/index.wxss */
page {
    background-color: #ffffff;
}

.refresh {
    padding: 30rpx;
    color: #333;
    font-size: 30rpx;
}

.btn {
    width: 710rpx;
    height: 100rpx;
    background: linear-gradient(360deg, #f7f7f7 0%, #ffe8cc 100%);
    box-shadow: 0rpx 3rpx 15rpx rgba(0, 0, 0, 0.04);
    border-radius: 20rpx;
    box-sizing: border-box;
    margin: 0 auto;
    position: absolute;
    top: 420rpx;
    left: 20rpx;
    font-size: 28rpx;
    color: #5f2a17;
}
